<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CenterOfGravity</servlet-name>
        <servlet-class>servlet.CenterOfGravity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleMap</servlet-name>
        <servlet-class>servlet.GoogleMap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCOG</servlet-name>
        <servlet-class>servlet.general.SaveCOG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadNextPage</servlet-name>
        <servlet-class>servlet.general.LoadNextPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadHomePage</servlet-name>
        <servlet-class>servlet.general.LoadHomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCOG</servlet-name>
        <servlet-class>servlet.general.LoadCOG</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CenterOfGravity</servlet-name>
        <url-pattern>/CenterOfGravity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoogleMap</servlet-name>
        <url-pattern>/GoogleMap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCOG</servlet-name>
        <url-pattern>/SaveCOG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadNextPage</servlet-name>
        <url-pattern>/LoadNextPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadHomePage</servlet-name>
        <url-pattern>/LoadHomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCOG</servlet-name>
        <url-pattern>/LoadCOG</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
